<a href="https://colab.research.google.com/github/Tarun-pandit/Data_Science_practice/blob/DATA_ANALYSIS_USING_PANDAS/2_Core_Data_Structures_in_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas is built on **two main data structures**:

1. Series → One-dimensional (like a single
column in Excel)
2. DataFrame → Two-dimensional (like a full spreadsheet or SQL table)

# Series — 1D Labeled Array
A Series is like a list with labels (index).

In [2]:
import pandas as pd
s = pd.Series([10, 20, 30, 40])
print(s)

0    10
1    20
2    30
3    40
dtype: int64

In [4]:
t = pd.Series([10, 20, 30], index=["a", "b", "c"])
print(t)

a    10
b    20
c    30
dtype: int64

# DataFrame — 2D Labeled Table
A DataFrame is like a **dictionary of Series** — multiple columns with labels.

In [20]:
data = {
    "name": ["Alice", "Bob", "Charlie"],
    "age": [25, 30, 35],
    "city": ["Delhi", "Mumbai", "Bangalore"]
}

df = pd.DataFrame(data)
print(df)

      name  age       city
0    Alice   25      Delhi
1      Bob   30     Mumbai
2  Charlie   35  Bangalore

In [21]:
df.index         # Row labels

RangeIndex(start=0, stop=3, step=1)

In [22]:
df.columns       # Column labels

Index(['name', 'age', 'city'], dtype='object')

In [23]:
df.index = ["a", "b", "c"]

In [24]:
df.columns = ["Name", "Age", "City"]

In [25]:
print(df)

      Name  Age       City
a    Alice   25      Delhi
b      Bob   30     Mumbai
c  Charlie   35  Bangalore

# Index and Labels
Every Series and DataFrame has an **Index** — it helps with:

* Fast lookups
* Aligning data
* Merging & joining
* Time series operations

**Summary**
* Series = 1D array with labels
* DataFrame = 2D table with rows + columns
* Both come with index and are the heart of Pandas